{% extends 'base.html.twig' %}

{% block titulo %}Creando Tutorial {{ parent() }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block main %}
<div class="container-fluid text-center">
    {{ form_start(form) }}
    <h1 class="mt-4">Crea un Tutorial</h1>
    <hr class="col-10 mx-auto">
    <br/>
    <div>{{ form_label(form.titulo, 'Título:', {'label_attr': {'class': 'alert'}})}}</div>
	<div>{{ form_widget(form.titulo, {'attr': {'placeholder': 'Escribe aquí el título'}}) }}</div>
    <br/>
    <div>{{ form_label(form.lenguaje, 'Lenguaje:', {'label_attr': {'class': 'alert'}})}}</div>
	<div>{{ form_widget(form.lenguaje, {'attr': {'placeholder': 'Escribe aquí el lenguaje'}}) }}</div>
    <br/>
    <div>{{ form_label(form.codigo, 'Código:', {'label_attr': {'class': 'alert'}})}}</div>
	<div>{{ form_widget(form.codigo, {'attr': {'placeholder': 'Escribe aquí el código'}}) }}</div>
    <br/>
    <div>{{ form_label(form.textoTutorial, 'Guía:', {'label_attr': {'class': 'alert'}})}}</div>
	<div>{{ form_widget(form.textoTutorial, {'attr': {'placeholder': 'Escribe aquí la guía'}}) }}</div>
    <br/>
    {{ form_row(form.save) }}
    <br/>
    {{ form_errors(form) }}
{{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}