{% extends 'base.html.twig' %}

{% block titulo %}Creando Tutorial {{ parent() }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block main %}
{% if (usuario.username is defined) and (usuario.username is not null) %}
							
<div class="container-fluid text-center">
    {{ form_start(form) }}
    <h1 class="mt-4">Crea un Tutorial</h1>
    <br/>
    <div class="row col-10 mx-auto">
            <div class="col-6">
                <div>{{ form_widget(form.titulo, {'attr': {'placeholder': 'Escribe aquí el título...', 'class': 'form-control border-dark'}})}}</div>
            </div>
            <div class="col-6">
                <div>{{ form_widget(form.lenguaje, {'attr': {'placeholder': 'Escribe aquí el lenguaje...', 'class': 'form-control border-dark'}}) }}</div>
            </div>
    </div>
    <div class="row col-10 mx-auto mt-4">
            <div class="col-6">
                <div>{{ form_widget(form.codigo, {'attr': {'placeholder': 'Escribe aquí el código...', 'class': 'form-control border-dark', 'rows': '15'}}) }}</div>
            </div>
            <div class="col-6">
                <div>{{ form_widget(form.textoTutorial, {'attr': {'placeholder': 'Escribe aquí el texto del tutorial...', 'class': 'form-control border-dark', 'rows': '15'}}) }}</div>
            </div>
    </div>
    {{ form_widget(form.autor, {'attr': {'hidden':'true', 'value':'{{ usuario.username }}'}})}}
    <br/>
    <div>{{ form_widget(form.save, {'attr': {'class': 'btn btn-outline-dark mt-3'}})}}</div>
    {{ form_errors(form) }}
    <br/>
{{ form_end(form) }}
</div>
{% endif %}
{% if (usuario.username is not defined) %}
<div class="container-fluid mt-5">
<h2 class="text-center">Inicia sesión con google para poder crear un tutorial</h2>
<h3 class="text-center"><a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">Click aquí</a></h3>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}{% endblock %}