{% extends 'base.html.twig' %}

{% block titulo %} {{ tutorial.titulo }}{{ parent() }} {% endblock %}

{% block main %}
<div class="container-fluid">
    <h5 class="card-title p-0 m-0  my-2 text-center">{{ tutorial.titulo }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Lenguaje: {{tutorial.lenguaje}}</h6>
    <div class="row">
        <div class="col-md-7 ml-1 mr-1 p-0">
            <div class="card m-0 p-0">
                <div class="card-body">
                    <h6 class="card-subtitle mb-3 text-muted text-center">C&oacute;digo</h6>
                    <pre class="card-text">{{ tutorial.codigo }}</pre>
                </div>
            </div>
        </div>
        <div class="col-md mr-1 p-0">
            <div class="card m-0 p-0">
                <div class="card-body">
                    <h6 class="card-subtitle mb-3 text-muted text-center">Gu&iacute;a</h6>
                    <p class="card-text">{{ tutorial.textotutorial }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}